<div class="contacts-canvas">
  <!-- Linkes Panel (Kontaktliste) -->
  <section class="list-panel">
    <div class="list-panel__inner">
      <button class="primary-contact" (click)="onAddContactClick()">
        <span>Add new contact</span>
        <span class="plus">+</span>
      </button>

      @for( group of getContactsGroups(); track group ){
      <p class="letter">{{ group }} </p>
      <div class="divider"></div>
      @for( item of getContacts() ; track item ){
      @if( item.name.charAt(0).toUpperCase() == group ){
      <div class="contact-row">
        <div class="badge">
          <div class="badge__circle" [style.background]="item.color"></div>
          <div class="badge__initials">{{ item.name.substring(0, 1) + item.surname.substring(0, 1) }}</div>
        </div>
        <div class="contact-row__text">
          <div class="name">{{ item.name + ' ' + item.surname}}</div>
          <div class="mail">{{ item.email }}</div>
        </div>
      </div>
      }}}

<!--       <ng-container *ngFor="let entry of grouped | keyvalue">
        <div class="letter">{{ entry.key }}</div>
        <div class="divider"></div>

        <ng-container *ngFor="let c of entry.value">
          <div class="contact-row">
            <div class="badge">
              <div class="badge__circle" [style.background]="c.color"></div>
              <div class="badge__initials">{{ c.initials }}</div>
            </div>

            <div class="contact-row__text">
              <div class="name">{{ c.name }}</div>
              <div class="mail">{{ c.email }}</div>
            </div>
          </div>
        </ng-container>
      </ng-container> -->

    </div>
  </section>

  <!-- Heading rechts -->
  <section class="heading">
    <h1>Contacts</h1>
    <span class="blue_line"></span>
    <p>Better with a team</p>
  </section>
</div>